{% extends 'base.html' %}

{% block title %}upload{% endblock %}
{#{% import 'bootstrap/wtf.html' as wtf %}#}
{% block navbar %}
<section class="content-header">
    <h1>batch create</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">batch create</li>

    </ol>
</section>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">

        <div class="box box-primary" >

            <h5 style="size: B4">请下载模板表格</h5>
            <div class="box-body">

                        <div class="col-md-6">
                             <button type="button " id="dbutton"  class="btn  btn-success pull-right">下载表格</button>
                        </div>
            </div>

        </div>
{#------------------------------------------------------#}
        <div class="box box-primary">
            <form method="post"  enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="box-header with-border">
                    {#  显示闪现的所有信息   #}
                    {% for msg in get_flashed_messages(category_filter='ok') %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Success!</strong> {{ msg }}.
                        </div>
                    {% endfor %}
                    {% for msg in get_flashed_messages(category_filter='error') %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Warning!</strong> {{ msg }}.
                        </div>
                    {% endfor %}
                </div>

                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{form.file.label}}</label>
                            {{form.file()}}
                            {{form.submit(class_="btn btn-primary pull-right")}}
                        </div>
                    </div>
                </div>
            </form>

        </div>




    </div>
    <script src="{{ url_for('static', filename='plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script>
        {#alert("dbutton");#}
        $("#dbutton").click(function () {
             window.open("/download");
        })
    </script>



{% endblock %}

